<a href="https://colab.research.google.com/github/rajeshkumarkarra/Learn_Python/blob/updates/CorePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("test colab")

test colab

In [1]:
# Conditions in Python
a = 3
b = 9
c = b+1

if c % a ==0:
  print("'b' is divisible by a")
  
elif c + 1 == 10:
    print("Increment in b produced")
    
else:
    print("you are in esle statment")

you are in esle statment

In [0]:
# Functions in Python

def checkAvailability(a,b):
  if a % b == 0:
    print("b is divisible by a: ")
    
  else:
    print("b isn't divisable by a: ")
    
checkAvailability(9,3)

b is divisible by a:

In [0]:
# Escape sequence in python

string = 'I\'m  rajesh'
print(string)

string = "I'm \"rajesh and welcome to the python\""
print(string)

string = "I'm \\rajesh\\ and welcom to python\\"
print(string)

I'm  rajesh
I'm "rajesh and welcome to the python"
I'm \rajesh\ and welcom to python\

In [0]:
# Formating of Strings

string = "{}{}{}".format("rajesh", "kumar", "karra")
print(string)

string = "{1}{0}{2}".format("rajesh", "kumar", "karra")
print(string)


string = "{l}{k}{j}".format(k="rajesh",j= "kumar", l="karra")
print(string)

string = "{0:b}".format(16)
print(string)

string = "{0:e}".format(255.215)
print(string)

string = "{0:.2f}".format(1/6)
print(string)
print(1/6)

string = "|{:>10} {:<10}{:^10}|".format("rajesh", "kumar", "karra")
print(string)

rajeshkumarkarra
kumarrajeshkarra
karrarajeshkumar
10000
2.552150e+02
0.17
0.16666666666666666
|    rajesh kumar       karra   |

In [0]:
print('testing')

testing

In [8]:
# Empty List
List = []
print(List)

# using append
List.append(2)
List.append(4)
List.append(6)
print(List)

# Using Iterator
for i in range(1,5):
  List.append(i)
  print(List)
  
# insert tupple
List.append((7,8))
print(List)

# adding List

List2=["rajesh", "paul"]
List.append(List2)
print(List)

# Use insert function
List.insert(-1, "john")
print(List)

# Use extend 

List.extend([-1, "peter"])
print(List)

[]
[2, 4, 6]
[2, 4, 6, 1]
[2, 4, 6, 1, 2]
[2, 4, 6, 1, 2, 3]
[2, 4, 6, 1, 2, 3, 4]
[2, 4, 6, 1, 2, 3, 4, (7, 8)]
[2, 4, 6, 1, 2, 3, 4, (7, 8), ['rajesh', 'paul']]
[2, 4, 6, 1, 2, 3, 4, (7, 8), 'john', ['rajesh', 'paul']]
[2, 4, 6, 1, 2, 3, 4, (7, 8), 'john', ['rajesh', 'paul'], -1, 'peter']

In [42]:
# Removing elements from the list

List = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]

print("\nRemoving values from the list")
print(List)

List.remove(3)
List.remove(1)
print(List)

List.pop(2)
print(List)

sliced_list=List[3:5]
print(sliced_list)
sliced_list=List[-2:]
print(sliced_list)
sliced_list=List[:2]
print(sliced_list)
sliced_list=List[:]
print(sliced_list)
sliced_list=List =[10,20,30,40,50,60,]
print(sliced_list)
sliced_list=List[::-1]
print(sliced_list)

Removing values from the list
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[2, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[7, 8]
[13, 14]
[2, 4]
[2, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[10, 20, 30, 40, 50, 60]
[60, 50, 40, 30, 20, 10]

In [14]:
# Python program to demonstrate 
# Removal of elements in a List 

# Creating a List 
List = [1, 2, 3, 4, 5, 6, 
		7, 8, 9, 10, 11, 12] 
print("Intial List: ") 
print(List) 

# Removing elements from List 
# using Remove() method 
List.remove(5) 
List.remove(6) 
print("\nList after Removal of two elements: ") 
print(List) 

# Removing elements from List 
# using iterator method 
for i in range(1, 5): 
	List.remove(i) 
print("\nList after Removing a range of elements: ") 
print(List) 

# Removing element from the 
# Set using the pop() method 
List.pop() 
print("\nList after popping an element: ") 
print(List) 

# Removing element at a 
# specific location from the 
# Set using the pop() method 
List.pop(2) 
print("\nList after popping a specific element: ") 
print(List)

Intial List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List after Removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

List after Removing a range of elements:
[7, 8, 9, 10, 11, 12]

List after popping an element:
[7, 8, 9, 10, 11]

List after popping a specific element:
[7, 8, 10, 11]